
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #261C2C;
}

#btns{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    max-width: 300px;
    width: 70%;
    gap: 1em;
}

#btns > *{
    font-size: 1.6em;
    padding: 0.4em;
    cursor: pointer;
    color: #6E85B2;
    background-color: #5C527F;
    border: none;
    border-radius: 8px;

    transition: background-color 0.3s ease-in;
}

#btns > *:hover{
    background-color: #3E2C41;
}