
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#btns{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    max-width: 300px;
    width: 70%;
    gap: 1em;
}

#btns > *{
    font-size: 1.6em;
    padding: 0.4em;
    cursor: pointer;
}